.header {
  margin-top: 6rem;
  padding: 3em 2em;

  &__link {
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
  }
  &__box {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 0;
  }

  &__box-title {
    text-transform: uppercase;
    font-family: 'Commissioner', sans-serif;
    font-size: 2.8rem;
  }

  &__box-text {
    margin: 2em 0;
    font-size: 1.6rem;
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box-btn-contact {
    font-family: 'Concert One', sans-serif;
    border: 1px solid transparent;
    transition: border .3s, background-color .3s;
    cursor: pointer;
    background-color:  #F08516;
    z-index: 20;
    
    &--link {
      display: block;
      padding: 0.5em 2em;
      width: 100%;
      height: 100%;
       font-size: 1.8rem;
       text-transform: uppercase;
    }

    &:hover {
      border: 1px solid #F08516;
      background-color: white;
    }
  }

  &__box-img {
    position: relative;
    margin-top: 4em;
    height: 150px;
    // z-index: -1;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, .3);
      z-index: 0;
    }
  }
}