@media (min-width: 374px) {
  .header {
    margin-top: 8rem;
  }

  .offers {
    padding: 4em;
  }
}

@media (min-width: 413px) {
  .nav {
    &__btn {
      font-size: 2.8rem;
    }

    &__item {
      font-size: 3rem;
    }

    &__logo-link {
      cursor: pointer;
      img {
        width: 70%;
      }
    }
  }

  .header {
    .wrapper {
      padding: 2em;
    }
  }

  .about {
    &__img {
      height: 120px;
    }

    &__box-text {
      padding: 1.5em 2.5em;
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 565px) {
  .header {
    &__box-img {
      height: 200px;
    }
  }
}

@media (min-width: 670px) {
  .about {
    &__img {
      height: 140px;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    padding: 1.5em 3em;
    &__btn {
      font-size: 3.8rem;
    }

    &__item {
      font-size: 4.2rem;
    }

    &__logo-link {
      cursor: pointer;
      img {
        width: 55%;
      }
    }
  }

  .header {
    margin-top: 10rem;

    .wrapper {
      padding: 0 5em;
    }
    &__box-title {
      font-size: 3.8rem;
    }

    &__box-info {
      margin-top: 2em;
      margin-bottom: 3em;
      font-size: 1.6rem;
    }

    &__box-img {
      height: 300px;
    }
  }

  .about {
    &__img {
      height: 160px;
    }

    &__box-text {
      padding: 2em;
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 992px) {
  .nav {
    padding: 2em 4em 2em 4em;

    .wrapper {
      align-items: center;
    }
    &__btn {
      display: none;
    }

    &__box {
      position: static;
      display: block;
      height: auto;
      background: none;
    }

    &__logo-link {
      cursor: pointer;
      img {
        width: 45%;
      }
    }

    &__items {
      flex-direction: row;
      gap: 3rem;
    }

    &__item {
      margin-bottom: 0;

      font-size: 3.4rem;
    }
  }

  .header {
    margin-top: 10rem;

    &__box {
      position: relative;
      padding: 12rem 4rem;
      background-image: url("../img/header.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: left;
      color: #fff;
    }

    &__box-shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 17%,
        rgba(0, 0, 0, 0.6278886554621849) 52%,
        rgba(255, 255, 255, 0) 100%,
        rgba(0, 0, 0, 0.8407649253731343) 100%
      );
      z-index: -1;
    }

    &__info-box {
      width: 50%;
    }

    &__box-img {
      display: none;
    }

    &__box-title {
      font-size: 5rem;
    }

    &__box-text {
      margin: 2.5em 0;
      font-size: 2rem;
    }

    &__box-btn-contact {
      padding: 0.5em 2.5em;
      font-size: 2rem;
      transition: border 0.3s;

      &:hover {
        border: 1px solid #333;
      }
    }
  }

  .about {
    margin-top: 3em;
    padding: 5em 1em;

    &__img-mobile {
      display: none;
    }
    &__img-desktop {
      display: block;
    }

    .wrapper {
      grid-template-rows: repeat(7, 100px);
    }

    &__titles {
      grid-column: 2/4;
      grid-row: 2/3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 5.4em;
    }

    &__img-box {
      grid-column: 1/2;
      grid-row: 1/8;
    }

    &__img {
      height: 100%;
      object-fit: cover;
    }

    &__box-text {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 2/4;
      grid-row: 4/6;
      padding-left: 5.4rem;
    }

    &__box-text {
      margin: 0;
      line-height: 1.5;
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    &__box-title {
      font-size: 6.4rem;
    }

    &__text {
      font-size: 2.4rem;
    }
  }

  .about {
    &__img-box {
      background-position: center;
    }

    &__box-text {
      position: relative;
      padding: 15rem;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -125%;
        background-color: #333;
        height: 100%;
        width: 1000px;
      }
    }

    &__img-box {
      grid-row: 1/9;
    }

    &__titles {
      padding-left: 15em;
    }
  }
}

@media (orientation: landscape) and (max-height: 434px) {
  .nav {
    &__item {
      font-size: 2.4rem;
    }
  }
}

@media (orientation: landscape) and (max-height: 281px) {
  .nav {
    &__item {
      font-size: 2rem;
    }
  }

  .header {
    margin-top: 6rem;
  }
}
