.nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1.5em;
  background-color: #fff;
  z-index: 999;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    color: #333;
    text-decoration: none;
    padding: 0.25em 0.5em;
    transition: color 0.3s, background-color 0.3s;

    &--color {
      background-color: #e89e2f;

      &:hover {
        color: #fff;
        background-color: #333;
      }
    }
  }

  &__btn {
    padding: 0.5em;
    font-size: 2.4rem;
    border: none;
    cursor: pointer;
    background: none;
    z-index: 1000;
  }

  &__logo {
    width: 30%;
  }

  &__box {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #eee;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    text-transform: uppercase;
    font-size: 2.6rem;
    z-index: 100;
  }

  &__item {
    position: relative;
    margin-bottom: 1em;

    transition: color 0.3s;
    font-family: "Crushed", sans-serif;
    cursor: pointer;

    &:hover {
      color: #333;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #e89e2f;
      opacity: 0;
      z-index: -1;
    }

    &:hover::before {
      animation: pulse 1s;
    }

    &--last:hover::before {
      animation: pulse 0s;

    }
  }

  &__logo-link {
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
