@use './header' as * ;
@use './nav' as * ;
@use './about' as *;
@use './offers' as *;
@use './gallery' as *;
@use './contact' as *;
@use './footer' as *;
@use './animations' as *;
@use './media' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 82px;
}

body {
  font-family: 'Commissioner', sans-serif;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.active {
  display: block;
}

.sticky-body {
  overflow: hidden;
}

.sub-text{
  color: #F08516;
  font-family: 'Concert One';
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
}

.sub-title {
  margin-bottom: 2em;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Rajdhani', sans-serif;
}


@media (min-width: 413px) {
  .sub-text {
    font-size: 1.6rem;
  }

  .sub-title {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) {
  .sub-text {
    font-size: 1.8rem;
  }

  .sub-title {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .sub-text {
    font-size: 2.2rem;
  }

  .sub-title {
    margin-bottom: 0;
    font-size: 5rem;
  }

  .sub-text, .sub-title {
    text-align: left;
  }
}




// TODO

// * cards in section offers should be links to page offers, with particular id.